/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 
  background-color: #f8f9fa;
  font-family: 'Roboto Mono', monospace; /* Use Roboto Mono font */
  @apply text-light bg-dark pt-16;
}

/* Add font-face for Roboto Mono */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono Regular'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v13/L0x7DF4xlVMF-BfR8bXMIjhCUOGz7vYGh680lGh-uXM.woff2) format('woff2');
  font-display: swap;
}

/* Global styles */
h2 {
  font-family: 'Roboto Mono', monospace; /* Use Roboto Mono font */
  @apply text-4xl font-bold mb-4 text-accent;
}

ul {
  @apply text-left grid grid-cols-2 gap-4;
}

ul li {
  @apply flex items-center;
}

footer {
  @apply text-center py-10 bg-gray-900 text-white mt-20;
}
.bg-custom {
  background: url('../public/background.png') no-repeat center center fixed;
  background-size: cover;
}

/* Specific styles for Education section */
#education ul {
  color: black;
}